.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #404345;
}
.header img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 100%;
  margin-left: 20px;
}

h1 {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 2.5em;
}
ul {
  color: #86c232;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
  font-size: 20px;
  margin-bottom: 3px;
}
body {
  background-color: #222629;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
label {
  color: #86c232;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
}
#book {
  width: 200px;
}
#rating {
  width: 50px;
}
.form-block {
  margin-top: 10px;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}
button {
  background-color: #86c232;
  border-color: #86c232;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;

  width: 140px;
  border-radius: 8px;
}
input {
  color: #222629;
  font-family: system-ui;
  font-size: 20px;
  margin-left: 5px;
  width: 100px;
}
.list {
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  max-width: 800px;
  justify-content: space-around;
  margin: 50px auto;
}
.list img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-left: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #404345;
  color: #bebebe;
  text-align: center;
}
.footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}
